/* Header */

.header {
	padding: 40px 0;
	min-height: 695px;
	/* height: 500px; */
	display: flex;
	justify-content: center;
	align-items: end;

	background-color: var(--header-bg);
	background-image: url('./../../img/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	color: var(--header-text);
	text-align: center;

}

.header__wrapper {
	padding: 0;
	max-width: 665px;
	display: flex;
	flex-direction: column;

}

.header__title {
	width: 100%;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
	align-items: end;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: var(--accent);
}

.header__text {
	display: flex;
	margin-left: 190px;
	margin-top: 20px;
	margin-bottom: 180px;
	font-size: 18px;
	line-height: 1.333;
	overflow: hidden;
	/* position: relative; */
}

.header__text p + p {
	margin-top: 0.5em;
}

